        <header>
            <nav>
                <div>
                    <a href="[*localization root*]index.html">[* ΝΕΜΑ Θεσσαλονίκη */* YWAM Thessaloniki *]</a>
                </div>
                <div>
                    <a href="[*localization root*][* Σχετικά%20με%20εμάς.html */* About%20Us.html *]">[* Σχετικά με εμάς */* About Us *]</a>
                    <a href="[*localization root*][* Επικοινωνήστε%20μαζί%20μας.html */* Contact%20Us.html *]">[* Επικοινωνήστε μαζί μας */* Contact Us *]</a>
                    <a href="[*site root*][* en/ */* ελ/ *]index.html">[* 🇬🇧 English */* 🇬🇷 Ελληνικά *]</a>
                </div>
            </nav>
        </header>
        <div id="letterbox">
            <div id="content">
                <h1>[*title*]</h1>

[*content*]

            </div>
        </div>
        <footer>
            <div>
                <!-- bottom left -->
            </div>
            <div>
                <p>[* Πνευματική ιδιοκτησία */* Copyright *] ©[*copyright dates*] [* ΝΕΜΑ Θεσσαλονίκη. Όλα τα δικαιώματα διατηρούνται. */* YWAM Thessaloniki. All rights reserved. *]</p>
            </div>
        </footer>
