        <header>
            <nav>
                <div>
                    <p>[* Για μας */* About *]</p>
                    <div>
                        <a href="[*localization root*][* ΝΕΜΑ%20Θεσσαλονίκη.html */* YWAM%20Thessaloniki.html *]">[* ΝΕΜΑ Θεσσαλονίκη */* YWAM Thessaloniki *]</a>
                        <a href="[*localization root*][* Νέοι%20με%20αποστολή.html */* Youth%20with%20a%20Mission.html *]">[* Νέοι με αποστολή */* Youth with a Mission *]</a>
                    </div>
                </div>
                <div>
                    <p>[* Διακονία */* Ministries *]</p>
                    <div>
                        <a href="[*localization root*][* The%20Word.html */* The%20Word.html *]">[* The Word */* The Word *]</a>
                        <a href="[*localization root*][* United.html */* United.html *]">[* United */* United *]</a>
                        <a>...</a>
                    </div>
                </div>
                <div>
                    <p>[* Εκπαίδευση */* Training *]</p>
                    <div>
                        <a href="[*localization root*][* Σχολείο%20μαθητείας.html */* Discipleship%20Training%20School.html *]">[* Σχολείο μαθητείας */* Discipleship Training School *]</a>
                        <a>...</a>
                    </div>
                </div>
                <div>
                    <a id="home" href="[*localization root*]index.html">[* ΝΕΜΑ Θεσσαλονίκη */* YWAM Thessaloniki *]</a>
                </div>
                <div>
                    <p>[* Εθελοντισμός */* Volunteer *]</p>
                    <div>
                    <a href="[*localization root*][* Προσωπικό.html */* Short-term Staff.html *]">[* Προσωπικό */* Short-term Staff *]</a>
                    <a href="[*localization root*][* Προσωπικό.html */* Long-term Staff.html *]">[* Προσωπικό */* Long-term Staff *]</a>
                    <a href="[*localization root*][* ....html */* Outreach Opportunities.html *]">[* ... */* Outreach Opportunities *]</a>
                    <a>...</a>
                    </div>
                </div>
                <div>
                   <a href="[*localization root*][* Επικοινωνία.html */* Contact.html *]">[* Επικοινωνία */* Contact *]</a>
                </div>
                <div>
                   <a href="[*site root*][* en/ */* ελ/ *]index.html" lang="[* en-GB */* el-GR *]">[* 🇬🇧 English */* 🇬🇷 Ελληνικά *]</a>
                </div>
            </nav>
        </header>
        <div id="letterbox">
            <div id="content">
                <h1>[*title*]</h1>

[*content*]

            </div>
        </div>
        <footer>
            <div>
                <!-- bottom left -->
            </div>
            <div>
                <p>[* Πνευματική ιδιοκτησία */* Copyright *] ©[*copyright dates*] [* ΝΕΜΑ Θεσσαλονίκη. Όλα τα δικαιώματα διατηρούνται. */* YWAM Thessaloniki. All rights reserved. *]</p>
            </div>
        </footer>
