<!--
 Title: [* Προσωπικό */* Long-term Staff *]
 -->
[*
<p>...</p>
*/*
<p> We are looking for people who: share the same values, will commit to Greek language learning, are flexible and adaptable, are self motivated, take initiative, persevere, can handle the different challenges that come with a pioneering situation, don’t compromise easily. </p>
<p><b> Long-term commitment (2 years*) requires: </b></p>
<p> Mandatory Greek language learning; leading and being part of team activities like worship, intercession, admin meetings, meals, fun times; to pioneer and establish a new ministry; participating in community life </p>
*]
