<!--
 Title: [* Προσωπικό */* Long-term Staff *]
 -->
[*
<p>...</p>
*/*
<p> We are looking for people who:
<ul>
    <li>share the same values,</li>
    <li>will commit to Greek language learning,</li>
    <li>are flexible and adaptable,</li>
    <li>are self motivated,</li>
    <li>take initiative,</li>
    <li>persevere,</li>
    <li>can handle the different challenges that come with a pioneering situation, and</li>
    <li>don’t compromise easily.</li>
</ul>
</p>
<p><strong> Long‐term commitment (2 years<sup>*</sup>) requires: </strong>
<p> Mandatory Greek language learning; leading and being part of team activities like worship, intercession, admin meetings, meals, fun times; to pioneer and establish a new ministry; participating in community life </p>
*]
