<!--
 Title: [* ... */* Outreach Opportunities *]
 -->
[*
<p>...</p>
*/*
<p><strong> Refugee Care Center: </strong></p>
<p>The Refugee Care Center has been created to serve refugees and immigrants in Thessaloniki, offering bathing services, laundry services, second-hand clothing, all in a safe environment. There are language translators, a specially-designed children's area, and volunteers to serve the beneficiaries and offer snacks, coffee, and tea to everyone. They are open every Tuesday and Thursday from 12-6pm. They receive refugees and immigrants from many different countries who have applied for asylum in Greece or to be transferred to another country. Both families and individuals are welcome to use the free services offered.</p>
<p><strong> Christian Steki: </strong></p>
<p>Christian Steki is a ministry run by the Greek Evangelical church in Thessaloniki. The focus is serving the poor and marginalized of the city, both refugees and homeless. They offer meals and coffees, clean clothing, shoes, and blankets, and bathing services. They are open Monday to Friday at 8am - 12pm and Friday evening from 5 - 8pm.</p>
<p><strong> English classes for refugees: </strong></p>
<p>This ministry allows for a lot of personal connection with refugees while also teaching English.</p>
*]
