<!--
 Title: [* Προσωπικό */* Short-Term Staff *]
 -->
[*
<p>...</p>
*/*
<p> We are looking for people who:
<ul>
    <li>share the same values,</li>
    <li>will commit to Greek language learning,</li>
    <li>are flexible and adaptable,</li>
    <li>are self motivated,</li>
    <li>take initiative,</li>
    <li>persevere,</li>
    <li>can handle the different challenges that come with a pioneering situation,</li>
    <li>don’t compromise easily.</li>
</ul>
</p>
<p><strong> Short‐Term commitment (3 months) requires: </strong>
<ul>
    <li>involvement in team activities like worship, intercession, admin meetings, meals, fun times;</li>
    <li>coming alongside existing ministries;</li>
    <li>participating in community life;</li>
    <li>familiarizing with the Greek culture;</li>
    <li>the option of studying the language at Greek university.</li>
</ul>
</p>
*]
