<!--
 Title: [* Προσωπικό */* Short-term Staff *]
 -->
[*
<p>...</p>
*/*
<p> We are looking for people who: share the same values, will commit to Greek language learning, are flexible and adaptable, are self motivated, take initiative, persevere, can handle the different challenges that come with a pioneering situation, don’t compromise easily. </p>
<p><strong> Short‐term commitment (3 months) requires: </strong></p>
<p> Be involved in team activities like worship, intercession, admin meetings, meals, fun times; come alongside existing ministries; participate in community life; get familiar with the Greek culture; have the option of studying the language at Greek university. </p>
*]
