<!--
 Title: [* THE WORD */* THE WORD *]
 -->

[*
<p> <img src="/Users/Kel/Downloads/the word cover.jpg" width="800" height="400" border="0"><p>
<p>Είναι...</p>
*/*
<p> <img src="/Users/Kel/Downloads/the word cover.jpg" width="800" height="400" border="0"><p>
<p>A weekly Bible study where we explore and discover together who God is throughout the Scriptures, and in turn, who we are. How can we study the Bible to understand God’s character? What is our purpose and how can we live it out? The aim is to look at topics together, learning from each other through our different perspectives, whether that be from protestant or orthodox background.</p>
*]
