<!--
 Title: [* Νέοι με αποστολή */* Youth with a Mission *]
 -->

[*
<p>Είμαστε...</p>
*/*
<p><em>Youth With A Mission</em> is a global movement of Christians from many cultures, age groups, and Christian traditions, dedicated to serving Jesus throughout the world. Also known as YWAM (pronounced ‘WHY-wham’), we unite in a common purpose to know God and to make Him known. Youth With A Mission is a truly global movement. We have over 1100 locations in over 180 nations, and new teams are constantly being pioneered. Our centers reflect the culture they are in, and they often have multicultural staff. We are called to love, worship, and obey God, to love and serve His Body, the Church, and to present the whole gospel for the whole person throughout the whole world. We do this through evangelism, training, and mercy ministries.</p>
*]
