/* ••••••• General ••••••• */

html {
    color: rgb(39, 43, 44);
}

h1 {
    font-weight: bold;
    font-size: 300%;
    text-align: center;
}

/* ••••••• Frame ••••••• */

body {
    display: grid;
    grid-template-areas: "header" "content" "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
header { grid-area: "header"; }
letterbox { grid-area: "content"; }
footer { grid-area: "footer"; }

/* Header & Footer */

header, footer {
    background-color: rgb(39, 43, 44);
    color: white;
}
header a:link, header a:hover, header a:active, header a:visited, footer a:link, footer a:hover, footer a:active, footer a:visited {
    color: white;
    text-decoration: none;
}

header a, header p, footer p {
    margin: 1em;
}

header nav, header div, footer, footer div {
    align-items: baseline;
    display: flex;
}

/* Header */

header nav {
    justify-content: center
}

header > nav > div {
    position: relative;
    display: inline-block;
}
header > nav > div > div {
    background-color: rgb(39, 43, 44);
    display: none;
    position: absolute;
}
header > nav > div:hover > div {
    display: block;
}

header > nav > div > div > a {
    display: block;
}

#home {
    font-weight: bold;
}

/* Content */

#letterbox {
    display: flex;
    justify-content: center;
}

#content {
    padding: 0.5em;
    max-width: 50em;
}

/* Footer */

footer {
    font-size: 50%;
}

footer {
    justify-content: space-between;
}
